.FAQ{
    text-align: center;
    color: #525c70;
    font-family: gotham_proregular, Arial, sans-serif!important;
    font-weight: normal;
    
}

.container{
    max-width: 900px;
    width: 100%;
    display: flex;
    border: 1px solid #cad1db;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 

}
.tab {
    display: block;
    overflow: hidden;
    border-right: 1px solid #cad1db;
    border-right: none;
    background-color: white;
    float: left;
    width: 30%;
    
}
.rightContainer{
    border-left: 1px solid #cad1db;
    border-collapse: collapse;
    font-family: ralewayregular, 'Open Sans', Calibri, Arial, Tahoma, sans-serif !important;
    color: #525c70;
    width: 70%;
}



.blockOfQuestions{
    float: right;
    width: 100%;
    display: none;
    
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-family: ralewayregular, 'Open Sans', Calibri, Arial, Tahoma, sans-serif !important;
    color: #1970c9;
    font-size: 16px;
    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 100%;
    height: 50px;
    text-align: left;
    
    

}

/* Change background color of buttons on hover */
.tab button:hover {
    color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background: #232e43;
    color: #fff;
}


.accordion-container {
	width: 100%;
	clear:both;
    border-bottom: 1px solid #cad1db;
    color: #4f4f4f;
    font-family: ralewayregular, 'Open Sans', Calibri, Arial, Tahoma, sans-serif !important;

}

.accordion-titulo {
	display: block;
	padding: 10px;
	font-size: 17px;
	font-weight: 300;
	background: #ffffff;
	color: black;
	text-decoration: none;
    height: 25px;
    font-family: ralewayregular, 'Open Sans', Calibri, Arial, Tahoma, sans-serif !important;
    color: #525c70;
    position: relative;

}
.accordion-titulo.open {
	background: #f0f4f8;
	color: black;
}
.accordion-titulo:hover {
	color: #1970c9;
}

.accordion-titulo span.toggle-icon::after {
    float: right;
	content: url(img/angle-up-solid.svg);
    height: 10px;
    width: 10px;
    position: absolute;
    right: 15px;
    top: 9px;
}

.accordion-titulo.open span.toggle-icon::after {
	content: url(img/angle-up-solid.svg);
    transform: rotate(180deg);
    height: 10px;
    width: 10px;
    position: absolute;
    right: 15px;
    top: 23px;
  
}




.accordion-content {
	display: none;
	padding: 10px;
	overflow: auto;
    background-color: #f0f4f8;
    font-weight: 300;
    font-family: inherit;
    font-size: 14px;
}

.accordion-content p{
	margin:0;
    padding-right: 30px;
}

.headerOfBlock2{
    padding-left: 10px;
    font-size: 17px;

}

.accordion-content ul{
    margin: 0;
}

@media all and (max-width: 930px){
    .container{
        display: block;
    }
    .tab {
        width: 100%;
        
    }
    .rightContainer{
        width: 100%;
    }

}
















